html, body, header, nav, main, h1, h2, h3, h4, h5, h6, p, ol, ul, li, a {
	padding: 0;
	border: 0;
	margin: 0;
	font-size: 100%;
	font: inherit;
}

body {
	background-color: #614752;
}

header, main {
	font-family: Candara, Helvetica, sans-serif;
	background-color: #d1c6bf;
	width: 1100px;
	border: 5px double #928c8c;
	border-radius: 10px;
}

header {
	margin: 30px auto;
	height: 335px;
}

main {
	margin: 0px auto 30px auto;
	height: 1020px;
}

header img {
	border-style: solid;
	border-color: #EBE3D9;
	border-width: 5px;
	margin: 25px 170px 10px 25px;
	box-shadow: 8px 8px 8px #242222;
}

header h1 {
	font-size: 56px;
	color: #5a504b;
	text-align: right;
	font-weight: 900;
	padding: 50px 30px 4px 0;
}

header p {
	font-size: 21px;
	color: #7a6d67;
	text-align: right;
	padding-right: 30px;
	font-weight: 900;
}

header ul {
	list-style-type: none;
	padding-top: 65px;
	text-align: center;
}

header li {
	display: inline-block;
	width: 250px;
}

header a{
	display: block;
	font-size: 22px;
	font-weight: 900;
	text-decoration: none;
	font-variant: small-caps;
	color: #EBE3D9;
	text-align: center;
	background-color: #614752;
	padding: 10px 0;
	box-shadow: -5px -5px 8px #423138 inset;
	border-radius: 10px
}

header a:hover {
	background-color: #78606a;
}

header a:active {
	background-color: #34282d;
}

main h1, h2, h3, h4, ul, li, p {
	padding: 0 40px 0 40px;
}

main h2, h3, h4, ul, li, p {
	color: #5a504b;
}

main h1{
	width: 1050px;
	font-size: 36px;
	font-weight: 900;
	font-variant: small-caps;
	color: #EBE3D9;
	text-align: center;
	background-color: #614752;
	padding: 15px 0;
	margin: 25px auto;
	box-shadow: -5px -5px 8px #423138 inset;
	border-radius: 10px
}

main p {
	font-size: 18px;
	margin-top: 20px;
}

main a{
	color: #614752;
	font-weight: 800;
}

main a:hover{
	color: #EBE3D9;
}

main a:active {
	color: #242222;
}
main ul {
	list-style-type: square;
	font-size: 18px;
}

main li {
	padding-left: 5px;
	margin-left: 30px;
}

em {
	font-weight: 900;
}

main h2 {
	font-size: 28px;
	font-weight: bold;
	margin: 20px 0px 0px 5px;
}

main h3 {
	font-size: 24px;
	font-weight: bold;
	margin-left: 5px;
}

main h4 {
	font-size: 22px;
	font-style: italic;
	padding-bottom: 4px;
	margin-left: 5px;
	width: 600px;
}

.highlight {
	background-color: #bbb0a9;
	margin: 0 30px;
	border-bottom: 1px solid #5a504b;
} 

.highlight h2 {
	padding: 5px 0 0 10px;
}

.highlight h4 {
	padding: 0 0 5px 10px;
}